.idea/

/public/admin*/autoupgrade/*
!/public/admin*/autoupgrade/index.php
!/public/admin*/autoupgrade/backup/index.php

/public/admin*/backups/*
!/public/admin*/backups/.htaccess

/public/admin*/import/*
!/public/admin*/import/.htaccess
!/public/admin*/import/index.php

/public/admin*/export/*
!/public/admin*/export/.htaccess
!/public/admin*/export/index.php

# Downloaded RTL files
/public/admin*/themes/default/css/bundle/default_rtl.css
/public/admin*/themes/default/css/bundle/shared_rtl.css
/public/admin*/themes/default/css/font_rtl.css
/public/admin*/themes/default/css/overrides_rtl.css
/public/admin*/themes/default/css/vendor/font-awesome/font-awesome_rtl.css
/public/admin*/themes/default/css/vendor/nv.d3_rtl.css
/public/admin*/themes/default/css/vendor/titatoggle-min_rtl.css
/public/admin*/themes/default/public/theme_rtl.css
/public/admin*/themes/default/public/*
/public/admin*/themes/new-theme/css/module/drop_rtl.css
/public/admin*/themes/new-theme/css/right-sidebar_rtl.css
/public/admin*/themes/new-theme/public/*
!/public/admin*/themes/new-theme/public/theme.rtlfix
!/public/admin*/themes/default/public/theme.rtlfix